<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
</head>
<body>
  <h1>Danh sรกch sแบฃn phแบฉm</h1>
  <a href="/products/new">โ Thรชm sแบฃn phแบฉm</a>
  <ul>
    <% products.forEach(p => { %>
      <li>
        <%= p.name %> - Giรก: <%= p.price %> - SL: <%= p.quantity %> 
        | NCC: <%= p.supplier ? p.supplier.name : "Khรดng cรณ" %>
        <a href="/products/<%= p._id %>/edit">โ๏ธ Sแปญa</a>
        <form action="/products/<%= p._id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">๐๏ธ Xรณa</button>
        </form>
      </li>
    <% }) %>
  </ul>
  <a href="/">โฌ Trang chแปง</a>
</body>
</html>
